In [17]:
import pandas as pd
import numpy as np

In [18]:
file_path = 'data/cosmicclassifierTest.csv'
df = pd.read_csv(file_path)
df.head(5)

,Atmospheric Density,Surface Temperature,Gravity,Water Content,Mineral Abundance,Orbital Period,Proximity to Star,Magnetic Field Strength,Radiation Levels,Atmospheric Composition Index
0,-1.303074,2.932540,-0.168043,-1.220249,-1.942662,0.950473,1.540782,Category_13,Category_6,-0.729809
1,0.081124,-3.747390,-0.598897,1.563487,-0.199953,-1.844926,1.095349,Category_11,Category_10,-0.341850
2,-3.709952,-1.689588,0.259499,1.020046,-2.094565,0.344641,-0.094227,Category_9,Category_9,-0.532658
3,4.838804,0.442909,0.995312,-0.385272,-0.818065,-1.903998,2.727794,Category_10,Category_9,-0.205558
4,0.742217,2.802281,-1.144759,2.475840,-0.585959,0.880694,-1.942863,Category_11,Category_6,0.763087

In [19]:
print(df.shape)
print(list(df.columns))

(10000, 10)
['Atmospheric Density', 'Surface Temperature', 'Gravity', 'Water Content', 'Mineral Abundance', 'Orbital Period', 'Proximity to Star', 'Magnetic Field Strength', 'Radiation Levels', 'Atmospheric Composition Index']

In [20]:
missing_values = df.isna().sum()
print("\nMissing values per column:")
print(missing_values)

Missing values per column:
Atmospheric Density              0
Surface Temperature              0
Gravity                          0
Water Content                    0
Mineral Abundance                0
Orbital Period                   0
Proximity to Star                0
Magnetic Field Strength          0
Radiation Levels                 0
Atmospheric Composition Index    0
dtype: int64

In [21]:
print("\nDescriptive statistics for numeric columns:")
df.describe()

Descriptive statistics for numeric columns:

,Atmospheric Density,Surface Temperature,Gravity,Water Content,Mineral Abundance,Orbital Period,Proximity to Star,Atmospheric Composition Index
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,0.074543,0.028896,-0.081860,0.008577,0.097151,-0.026615,0.088995,0.042756
std,2.297061,1.992407,1.782432,1.704504,1.624317,1.502305,1.321652,1.090323
min,-4.227332,-5.604589,-5.197671,-5.592158,-4.750432,-4.535788,-3.653717,-3.828120
25%,-1.491899,-1.443051,-1.341715,-1.201182,-0.998779,-1.077409,-0.855691,-0.660108
50%,-0.131723,-0.260230,-0.055050,0.019245,0.132959,-0.010214,0.035565,0.072536
75%,1.414674,1.595845,1.161693,1.055115,1.210311,1.010315,0.992252,0.811699
max,9.354729,5.070067,5.201851,6.043354,5.296787,4.670274,4.815247,3.662600